<?xml version='1.0' encoding='utf-8'?>
<widget id="un.finalProject.bcontrol" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <name>BControl</name>
    <description>
        Final Project.
    </description>
    <author email="cristianc@bidapps.me" href="http://bidapps.me">
        Bidapps Developer Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" /> 
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />
    <icon src="/www/img/icon.png" />
</widget>
